{% extends "helldivers/base.html" %}

{% block title %}Boil Detection Introduction{% endblock title %}

{% block myscripts %}
<style>
    span {
        font-size: 1.75rem; /* Scales nicely on different devices */
        text-align: center;
        margin-bottom: 20px;
    }

    /* Responsiveness using media queries */
    @media (max-width: 768px) {
        span {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 480px) {
        span {
            font-size: 1.25rem;
        }
    }
</style>
{% endblock myscripts %}

{% block myvideo %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <span>Sometime the piped water has the smell of chlorine. <br>We need to keep the lid open and boil the water for 3 minutes, to
                remove the chlorine. <br>This algorithm helps detect the boil and reminds you the process is over.</span>
            <br>
            <span>For more details, try <a href="{% url 'boil_detect' %}">this app</a>.</span>
            <br>
            <span>Watch <a href="{% url 'boil_videoplay' %}">this video</a> to see how it works</span>
        </div>
    </div>
</div>
{% endblock myvideo %}
