<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meyda Tutorial</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's javascript file -->
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <audio
           controls
           loop
           crossorigin="anonymous"
           id="audio"
           src="https://cdn.glitch.com/184ed7fc-13aa-4fdc-98ca-8683b9a5d877%2F9579__tictacshutup__sold-break-8-bars.wav?1537042752804"
           >
    </audio>
    <br>
    <label for="level">Level</label>
    <input type="range"
           id="levelRange"
           name="level"
           min="0.0"
           max="1.0"
           step="0.001"
           />
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
