{% extends "helldivers/base.html" %}

{% block title %}bootcamp{% endblock title %}

{% block myscripts %}

{% endblock myscripts %}

{% block myvideo %}
    {% load static %}

    <video autoplay loop muted controls class="video-player">
        <source src="{% static 'helldivers/Self_Revive.mp4' %}" type="video/mp4">
    </video>


    <div class="intro-text">
        <p>
            As a Helldiver Soldier, you must click the stop when the counter display exactly 50. Doing right thing at right time can save your life.
            Got it? Let's go!
        </p>
    </div>
    <div class="button-container">
        <a href="{% url 'helldivers_practice' %}" class="btn btn-primary">Start Practice</a>
    </div>

{% endblock myvideo %}
