{% extends "base.html" %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}! You are {{ user.age }} years old.
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
        <br/>
        <p><a class="btn btn-primary" href="{% url 'article_list' %}" role="button">View all articles</a></p>
{#    {% else %}#}
{#        <p>You are not logged in</p>#}
{#        <a href="{% url 'login3333' %}">Login</a>#}
{#        <a href="{% url 'signup3333' %}">Sign Up</a>#}
    {% endif %}


    <div display="block">
        {% load static %}
        <a href="{% url 'helldivers_intro' %}">
        <img src="{% static "helldivers/micall_holding.png" %}", alt="Click here to view the histogram">
        </a>
    </div>
{% endblock content %}