{% extends "base.html" %}

{% block title %}Backend-DataScience{% endblock title %}

{% block content %}
    <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/track/4tGt4KYAelRBYuCJycth5N?utm_source=generator" width="100%"
            height="152" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    {% if user.is_authenticated %}
        Hi {{ user.username }}! You are {{ user.age }} years old.
        {#        <form action="{% url 'logout' %}" method="post">#}
        {#            {% csrf_token %}#}
        {#            <input type="submit" value="Logout">#}
        {#        </form>#}
        <br/>
        <p><a class="btn btn-primary" href="{% url 'article_list' %}" role="button">View all articles</a></p>
        {#    {% else %}#}
        {#        <p>You are not logged in</p>#}
        {#        <a href="{% url 'login3333' %}">Login</a>#}
        {#        <a href="{% url 'signup3333' %}">Sign Up</a>#}
    {% endif %}


    <div class="block">
        {% load static %}
        <a href="{% url 'helldivers_intro' %}">
            <img src="{% static "helldivers/micall_holding.png" %}" alt="Click here to view the histogram">
        </a>
    </div>

    <hr>

    <div class="block">
        {% load static %}
        <a href='{% url "helldivers_check_water" %}'>
            <img src="{% static "helldivers/tapwater.webp" %}" alt="Findout how cold or hot is different">
        </a>
    </div>
    <hr>
    <div class="block">
        {% load static %}
        <a href='{% url "boil_detect" %}'>
            <img src="{% static "boildetect/elec_kettle.webp" %}" alt="Remind you when water boils enough long">
        </a>
    </div>
{% endblock content %}